body{
    margin: 0px;
    scroll-behavior: smooth;
}
.navbar{
    height: 100%;
    width: 250px;
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f44336;
    color: white;
    font-family: sans-serif;
    position: fixed;
}
.navbarButton{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}
.navbarButton:hover{
    width: 100%;
    background-color: white;
    color: black;
}
h1{
    padding-left: 20px;
    margin-bottom: 70px;
}
a{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
h4{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
p{
    font-size: 14pt;
}
#content{
    float: left;
    margin-left: 360px;
    margin-right: 50px;
    font-family: sans-serif;
}
#home{
    float: left;
    background-color: white;
    width: 100%;
}
#home > h2{
    margin-top: 100px;
    font-size: 40pt;
}
h3{
    margin-top: 0px;
    text-align: center;
    padding-top: 60px;
    font-size: 25pt;
    color: #f44336;
}
hr{
    margin: 0px;
}
#home > h3{
    padding-top: 0px;
}
#about{
    clear: both;
    background-color: white;
}
#photos{
    margin-top: 300px;
    background-color: white;
    clear:both;
}
.photo{
    float: right;
    width: 48%;
    padding-bottom: 40%;
    background-color:#f44336;
    margin: 1%;
    background-size: 130%;
    background-position: center;
    transition: 200ms;
}
.photo:hover{
    opacity: 0.5;
    cursor:pointer;
}
#photo1{
    background-image: url(media/1.jpg);
}
#photo2{
    background-image: url(media/2.jpg);
}
#photo3{
    background-image: url(media/3.jpg);
}
#photo4{
    background-image: url(media/4.jpg);
}
#photo5{
    background-image: url(media/5.jpg);
}
#photo6{
    background-image: url(media/6.jpg);
}
#quote{
    width:calc(100% - 405px);
    margin-left: 360px;
    position: fixed;
    bottom: 550px;
    left: 0px;
    z-index: -1;
    font-style: oblique;
}
#quote>h3{
    padding-top: 0px;
    color: black;
    font-weight:lighter;
    font-family: 'Times New Roman', Times, serif;
}
input{
    background: rgba(0, 0, 0, 0.2);
    border-style: none;
    height: 20px;
    border-radius: 12px;
    padding-left: 10px;
    color: white;
}
input:focus{
    outline: none;
}
button{
    background: rgba(0, 0, 0, 0.4);
    border-style: none;
    margin-left: calc(50% - 45px);
    color: #eeeeee;
    border-radius: 12px;
    width: 90px;
    height: 40px;
}
button:hover{
    cursor: pointer;
}
table{
    margin: auto;
}
#contact{
    margin-top: 300px;
    clear: both;
}
#contact>table{
    border-spacing: 15px;
}